@import '~@globalStyles';

.Container {
  height: 100%;
  padding: $u * 4;
  padding-left: $u * 40;
  position: relative;
}

.TourneyGrid {
  display: flex;

  .TournamentContainer {
    flex: 1 1 30%;
  }

  .Tournament {
    width: $u * 50;
  }

  .ImgContainer img {
    height: $u * 27;
  }
}
