@import "~@globalStyles";

.Container {
  padding: $u * 8;
  display: flex;
  flex-direction: column;
}

.TopPlayers {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
