@import "~@globalStyles";

.Container {
  padding: $u * 8;
  display: flex;
}

.TopPlayers {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
