@import '~@globalStyles';

.TeamNav {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Add {
  border: 1px dashed #535559;
  border-radius: 50%;
  color: #535559;
  height: $u * 7;
  min-height: $u * 7;
  transition: border-color .25s ease,color .25s ease;
  width: $u * 7;

  svg {
    font-size: 1.15rem;
  }

  &:hover {
    border-color: hsla(0,0%,100%,.75);
    color: hsla(0,0%,100%,.75);
  }
}

.ScrollWrap {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
  }
}

.Team {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  height: $u * 7;
  margin-bottom: $u * 2;
  min-height: $u * 7;
  transition: 0.2s all ease;
  width: $u * 7;

  &:hover {
    border-radius: 15%;
  }
}
